<div class="row-fluid text-center <% if(!(categories||[]).length) { print('head-space'); } %>">
    <div class="span12">
        <h2 id="blog-index">Contents</h2>
        <!-- Breadcrumbs -->
        <% if((categories||[]).length) { %>
            <h4><a href="/">home</a>
            <% var max=categories.length-1, path="/category";
            categories.forEach(function(cat, i) { path+='/'+cat.clean; %>
            &gt;
            <% if(i<max) { %>
                <a href="<%= path %>"><%= cat.name %></a>
            <% }else{ %>
                <span><%= cat.name %></span>
            <% }
            }); %>
            </h4>
        <% } %>
        <!-- End breadcrumbs -->
        <i class="icon-leaf"></i>
    </div>
</div>