<div class="span12">
    <div class="site-info">

        {{ copyright }}

        <% if(navLinks) { %>
            <br>
            <% _.each( navLinks, function(link, i) { %>
                <% if(i) { %> | <% } %> 
                <a href="<%= link.url %>"><%= link.text %></a>
            <%  });
        } %>

        <% if(badges) { %>
            <br>
            <div class="badges">
            <% _.each( badges, function(item, i) { %>
                <a href="<%= item.url %>">
                    <span class="sprite ico <%= item.class %>"></span>
                </a>
            <% }); %>
            </div>
        <% } %>
    </div>
    <div class="clearfix"></div>
    <img src="<%= footer.img %>" alt="<%= footer.alt %>" class="foot-img">
</div>