<div class="row-fluid">
    <div class="span12">
        <h3>
            <span class="sprite icon"
                 style="background-position: <%= sprite %>">
            </span>
            <span>
            <a href="<%= link %>"><%= title %></a>
            </span>
        </h3>
    </div>
</div>


<div class="description">

    <div class="row-fluid">
        <div class="span12">
    <span class="value"><%= snippet %></span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 category">
    <span class="value">
        <% if(category) { %>
        <a href="/category/<% print(_.map(category.split(">"), function(c) { return Blog.wp.cleanPostTitle(c); }).join("/")); %>">
            <%= category %>
        </a>
        <% } %>
    </span>
        </div>

        <div class="date offset4 span4">
            <% if(typeof date!='undefined' && type!='cat') { %>
                <span class="date">
    <span class="value"><% if(date&&date.valueOf&&date.valueOf()) { print(date.format('mmm d, yy')); } %></span>
                </span>
            <% } %>
        </div>
    </div>

</div>