<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<meta name="description" content="">-->
		<meta property='og:image' content='http://joenoodles.com/img/jnlogo.png' />
		<meta property='og:title' content='{{ title }}' />
		<title>{{ title }}</title>
		<!-- <link rel='image_src' href='/img/jnlogo.png'/> -->
		<link rel="stylesheet" href="/blog-app.css" />
		{% block js %}
			<script type="text/javascript">
			window.DEBUG = ('{{env}}' === 'dev');
			</script>
			<script type="text/javascript" src="/blog-app.{{env}}.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block header %}
		    {% set props = { path: path, data: data } %}
			{% set tagprops = { tag: "div", id: "main" } %}
			{% react "./Router" with props in tagprops %}
		{% endblock %}

		{% block init %}
			<script type="text/javascript">
				Blog.start();
			</script>
		{% endblock %}
 	</body>
 </html>