<div class="modal hide fade alert <% if(type!='confirm') { %>alert-<%= type %> <% } %>">
    <div class="modal-header">
        <button
            type="button"
            class="close exiter"
            data-dismiss="modal"
            aria-hidden="true">&times;</button>
        <h3><%= title %></h3>
    </div>
    <div class="modal-body">
        <p><%= text %></p>
    </div>
    <div class="modal-footer">
        <% if(type=='confirm') { %>
            <button class="btn btn-primary" id="cancel">Cancel</button>
            <button class="btn" id="ok">Ok</button>
        <% }else{ %>
            <button class="btn btn-primary" id="ok">Ok</a>
        <% } %>
    </div>
</div>