<tr>
<% if(__header__) { %>

    <th>Title</th>
    <th>Type</th>
    <th>Category</th>
    <th>Date Created</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>

<% }else{ %>


    <td>
        <a href="/_admin/_editPage/<%= id %>" title="edit post">
            <%= title %>
        </a>
    </td>
    <td><%= type %></td>
    <td><%= category %></td>
    <td><%= created %></td>
    <td><%= author %></td>
    <td><%= status %></td>
    <td>
        <a href="/_admin/_deletePage/<%= id %>" title="delete post" id="trash">
            <i class="icon-trash"></i>
        </a>
    </td>



<% } %>

</tr>