<div class="row-fluid">
    <div class="row-fluid text-center head-space" id="target-latest">
        <div class="span12">
            <h2 id="latest">Latest</h2>
            <i class="icon-leaf"></i>
        </div>
    </div>

    <div class="row-fluid head-space">
        <div class="span4 offset4">
            <% if(latest.length>0) { %>
                <p>
                    My most recent post is
                    <a href="<% print(latest[0].link); %>">
                        <% print(latest[0].title); %>
                    </a>,
                    which I wrote <% print(latest[0].whichiwrote); %>. 
                    (<% print(latest[0].date.format('mmm d')); %>)
                </p>
            <% } %>

            <% if(latest.length>1) { %>
                <p>
                    Before that I wrote
                    <a href="<% print(latest[1].link); %>">
                        <% print(latest[1].title); %>
                    </a>.
                    (<% print(latest[1].date.format('mmm d')); %>)
                </p>
            <% } %>

            <p>
                You'll find a listing of other things I've written below.
            </p>
        </div>
    </div>

    <div class="row-fluid text-center head-space">
        <div class="span12">
            <h2 id="blog-index">Contents</h2>
            <!-- Breadcrumbs -->
            <% if(typeof categories!=='undefined' && categories.length) { %>
                <h4><a href="/">home</a>
                <% var max=categories.length-1, path="/category/";
                categories.forEach(function(cat, i) { path+=cat; %>
                &gt;
                <% if(i<max) { %>
                    <a href="<%= path %>"><%= cat %></a>
                <% }else{ %>
                    <span><%= cat %></span>
                <% }
                }); %>
                </h4>
            <% } %>
            <!-- End breadcrumbs -->
            <i class="icon-leaf"></i>
        </div>
    </div>

    <div class="row-fluid head-space">
        <div class="span8 offset4">
        <% _.forEach(posts, function(post, i) { %>
            <div class="indexline">
                <div class="index h<% print(post.depth+3); %>">
                    <div class="numeral <%= i %>">
                        <div class="indenum" style="display: block;">
                            <% print(post.fnum); %>.
                        </div>
                        <div class="sprite icon indecon"
                             style="display: none;
                                    background-position:
                                        <% print(post.sprite); %>">
                         </div>
                    </div>
                    <div class="title">
                        <a href="<% print(post.link); %>" class="<%= i %>">
                            <% print(post.title); %></a>
                        <% if(post.date) { %>
                            <span class="date">
        (<span class="value"><% print(post.date.format('mmm d, yy')); %></span>)
                            </span>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
    </div>
</div>


<script type="text/javascript">
$('div.title>a').mouseover(function() {
    var myNumCont = 'div.numeral.'+ $(this).attr('class');
    $(myNumCont + ' .indenum').hide();
    $(myNumCont + ' .indecon').show();
}).mouseout(function() {
    var myNumCont = 'div.numeral.'+ $(this).attr('class');
    $(myNumCont + ' .indecon').hide();
    $(myNumCont + ' .indenum').show();
});
</script>