<div class="index h<%= hDepth %>">
    <div class="numeral <%- numId %>">
        <div class="indenum" style="display: block;">
            <%- fNum %>.
        </div>
        <div class="sprite icon indecon"
             style="display: none;
                    background-position: <%- sprite %>">
         </div>
    </div>
    <div class="title">
        <a href="<%- link %>" class="<%- numId %>"><%= title %></a>
        <% if(typeof date!='undefined') { %>
            <span class="date">
(<span class="value"><% print(date.format('mmm d, yy')); %></span>)
            </span>
        <% } %>
    </div>
</div>